n8n-workflows/06-imoveis-venda.json
{
  "name": "Admirata | 06 — Imóveis à Venda",
  "nodes": [
    {
      "id": "webhook-venda",
      "name": "Webhook — Filtros de busca",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300],
      "parameters": {
        "httpMethod": "GET",
        "path": "imoveis-venda",
        "responseMode": "responseNode",
        "options": {}
      },
      "notes": "Query params aceitos: bairro (slug), tipo, quartos, precoMin, precoMax, destaque, pagina, por_pagina"
    },
    {
      "id": "code-montar-groq-venda",
      "name": "Montar query GROQ",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300],
      "parameters": {
        "jsCode": "const q = $input.first().json.query || {};\n\n// Filtros\nconst filtros = [`_type == 'imovel'`, `finalidade == 'Venda'`, `status == 'Disponível'`];\nif (q.bairro) filtros.push(`bairro->slug.current == '${q.bairro}'`);\nif (q.tipo) filtros.push(`tipo == '${q.tipo}'`);\nif (q.quartos) filtros.push(`quartos >= ${Number(q.quartos)}`);\nif (q.precoMin) filtros.push(`preco >= ${Number(q.precoMin)}`);\nif (q.precoMax) filtros.push(`preco <= ${Number(q.precoMax)}`);\nif (q.destaque === 'true') filtros.push(`destaque == true`);\n\n// Paginação\nconst por_pagina = Number(q.por_pagina) || 20;\nconst pagina = Number(q.pagina) || 1;\nconst offset = (pagina - 1) * por_pagina;\n\nconst groq = `*[${filtros.join(' && ')}] | order(destaque desc, _createdAt desc) [${offset}...${offset + por_pagina}] {\n  _id, titulo, slug, status, tipo, preco, precoCondominio,\n  quartos, suites, banheiros, vagas, areaUtil, areaTotal, destaque,\n  'bairro': bairro->{ nome, slug },\n  'condominio': condominio->{ nome, slug },\n  'fotoCapa': fotoCapa { asset->{ url, metadata { lqip } }, hotspot, crop }\n}`;\n\nconst groqContagem = `count(*[${filtros.join(' && ')}])`;\n\nreturn [{ json: { groq: encodeURIComponent(groq), groqContagem: encodeURIComponent(groqContagem), por_pagina, pagina } }];"
      }
    },
    {
      "id": "http-query-venda",
      "name": "Sanity — Buscar imóveis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [740, 300],
      "parameters": {
        "method": "GET",
        "url": "=https://gvf51tpc.apicdn.sanity.io/v2024-06-01/data/query/production?query={{ $json.groq }}"
      }
    },
    {
      "id": "http-count-venda",
      "name": "Sanity — Contar total",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [740, 480],
      "parameters": {
        "method": "GET",
        "url": "=https://gvf51tpc.apicdn.sanity.io/v2024-06-01/data/query/production?query={{ $('Montar query GROQ').item.json.groqContagem }}"
      }
    },
    {
      "id": "merge-venda",
      "name": "Mesclar resultados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [980, 390],
      "parameters": {
        "jsCode": "const imoveis = $('Sanity — Buscar imóveis').item.json.result || [];\nconst total = $('Sanity — Contar total').item.json.result || 0;\nconst por_pagina = $('Montar query GROQ').item.json.por_pagina;\nconst pagina = $('Montar query GROQ').item.json.pagina;\n\nreturn [{\n  json: {\n    imoveis,\n    paginacao: {\n      total,\n      pagina,\n      por_pagina,\n      total_paginas: Math.ceil(total / por_pagina)\n    }\n  }\n}];"
      }
    },
    {
      "id": "respond-venda",
      "name": "Resposta",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1220, 390],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      }
    }
  ],
  "connections": {
    "Webhook — Filtros de busca": {
      "main": [[{ "node": "Montar query GROQ", "type": "main", "index": 0 }]]
    },
    "Montar query GROQ": {
      "main": [
        [{ "node": "Sanity — Buscar imóveis", "type": "main", "index": 0 }],
        [{ "node": "Sanity — Contar total", "type": "main", "index": 0 }]
      ]
    },
    "Sanity — Buscar imóveis": {
      "main": [[{ "node": "Mesclar resultados", "type": "main", "index": 0 }]]
    },
    "Sanity — Contar total": {
      "main": [[{ "node": "Mesclar resultados", "type": "main", "index": 1 }]]
    },
    "Mesclar resultados": {
      "main": [[{ "node": "Resposta", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "__admirata_docs": {
    "descricao": "Busca imóveis à venda com filtros, paginação e contagem total.",
    "exemplos_url": [
      "GET /webhook/imoveis-venda",
      "GET /webhook/imoveis-venda?bairro=barra-da-tijuca&quartos=3",
      "GET /webhook/imoveis-venda?precoMin=500000&precoMax=1500000&pagina=2"
    ]
  }
}
